.show-grid {
    margin-bottom: 15px;
}

#capaVisorPalets .palet {
    background-image: url('../logival/img/ico-palet.png');
    background-repeat: no-repeat;
    padding-left: 52px;
    margin-bottom: 10px;
}

#capaVisorPalets .bulto {
    background-image: url('../logival/img/ico-caja-carton.png');
    background-repeat: no-repeat;
    padding-left: 52px;
    line-height: 36px;
    margin-top: 5px;
}

#capaVisorPalets .tienda {
    background-image: url('../logival/img/ico-tiend.png');
    background-repeat: no-repeat;
    padding-left: 52px;
    line-height: 48px;
    margin-top: 5px;
}

#capaVisorPalets .bultoCapa {
    background-image: url('../logival/img/ico-cajas-palet.png');
    background-repeat: no-repeat;
    padding-left: 52px;
    line-height: 48px;
    margin-top: 5px;
}

